nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 1rem;
  background-color: antiquewhite;
  padding: 0 1rem;
  a {
    color: #333;
  }
  a:not(:last-child) {
    margin-right: 0.5rem;
  }
}
